@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --font1: "Roboto", sans-serif;
    --font2: "Wix Madefor Text", sans-serif;
    --color-nav:#181818;
    --color-red-bar: #a91419;
    --color-font:#ffffff;
}

header{
    position: relative;
    height: 710px;  
}

header  nav{
    background-color: var(--color-nav);
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    align-items: center;   
    position: fixed;   
    z-index: 99;
}

nav ul  li{
    display:  inline;
    margin-left: 50px;
    font-family: var(--font1);
    color: var(--color-font)   
}

.redCard{
    margin-top: 30px;
}


header nav ul li > a{
    padding-top: 20px;
    text-decoration: none;
    color: var(--color-font);
}
header nav ul li > a:visited{
    color: var(--color-font);
}

header nav ul li >  a:hover{
    transition: all 0.3s ease, color 0.4s ease;
    letter-spacing: 1.5px;
    color: rgba(255, 0, 0, 0.774);
}

#logo{
    margin-left: 100px;
    color: var(--color-font);

}

.title{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 600px;
    color: var(--color-font);
    font-family: var(--font1);
    font-size: 30px;
    font-weight: bolder;
}

#bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;          
}

main .redCard{
    display: flex;
    position: relative;
    top: -30px;   
    height: 110px;
    background-color: var(--color-red-bar) ;
    margin-bottom: 50px;
    justify-content: center;
}

main .redCard .service{
    width: 400px;
    padding: 10px;
    padding-left: 10px;
    color: var(--color-font);
    h2,p {
        padding: 7px 10px 0px;
        font-family: var(--font2);
    } 
   
}

.vertical-line{
    width: 1px;
    background-color: var(--color-font);
    height: 80%;
    margin-top: 10px;
    padding: 10px 0px ;
}


.welcome{
    display: flex;
    justify-content: space-evenly ;
    height: 300px;
}

.welcome .text .title-welcome{
    padding-bottom: 40px;
    font-size: 30px;
    font-family: var(--font2);
    font-weight: 300;
    text-align: center;
   
}

.welcome .text p{
    font-family: var(--font2);
    letter-spacing: 0.02em;
    width: 400px;
    text-align: center;
}

.image-conteiner{
    display: flex;
    flex-direction: column;
    .link-image{
        width: 100%;
        height: 15%;
        padding-top: 10px;
        background-color: var(--color-red-bar);
        text-align: center;
        font-family: var(--font2);
    }
}

.link-image:hover{
    background-color: #a9141998;
   
}

.link-image:visited{
    color: white;
}

.black-car{
    width: 320px;
    height: 140px;
    position: relative;
}

main article{
    background-color: #EEF0E4;
    height: 750px;
}
main article .box-text{
    width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 150px;
    &
    h3{
        font-family: var(--font2);
        font-weight: 400;
        font-size: 30px;
        padding-bottom: 40px;
    }
    &
    p{
        font-family: var(--font2);
        font-weight: lighter;
        
    }

}

main article .description{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

main article .box{
    width: 300px;
    margin-left: 50px;
    &
    h3{
        text-align: center;
        font-family: var(--font2);
        font-weight: 100;
        font-size: 20px;
    }
    &
    i{
        margin-left: 150px;
        padding-bottom: 20px;
        width: 100px;
    }
    &
    p{
        text-align: center;
        padding-top: 40px;
        
    }
}

footer .red-bar-contact{
    display: flex;   
    height: 110px;
    background-color: var(--color-red-bar) ;
    
    justify-content: center;
    align-items: center;
    
}

footer .red-bar-contact .Contact{
    margin-left: 70px;
    margin-right: 70px;
    color: var(--color-font);
    font-family: var(--font2);
    &
    h3{
        font-weight: 100;
        padding-bottom: 5px;
    }
    
}

footer .vertical-line{
    width: 1px;
    background-color: var(--color-font);
    height: 80%;
    
}


.criator{
    background-color: var(--color-nav);
    color: var(--color-font);
    text-align: center;
    font-weight: var(--font1);
}